# Практическая работа 6

## Задание 1

Загрузить данные из файла `ECDCCases.csv`.

In [2]:
import pandas as pd

data: pd.DataFrame = pd.read_csv('ECDCCases.csv')
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
4,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
...,...,...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14645473.0,Africa,NaN

## Задание 2

Проверить в данных наличие пропущенных значений.

Вывести количество пропущенных значений в процентах.

Удалить два признака, в которых больше всех пропущенных значений.
Для оставшихся признаков обработать пропуски: для категориального признака использовать заполнение значением по умолчанию (например, "other"), для числового признака использовать заполнение медианным значением.

Показать, что пропусков больше в данных нет.

In [3]:
import numpy as np

def print_missing(data: pd.DataFrame):
    for column in data.columns:
        missing = np.mean(data[column].isna() * 100)
        missing = round(missing, 3)
        print(f'{column}: {missing}%')

In [4]:
print_missing(data)

dateRep: 0.0%
day: 0.0%
month: 0.0%
year: 0.0%
cases: 0.0%
deaths: 0.0%
countriesAndTerritories: 0.0%
geoId: 0.444%
countryterritoryCode: 0.199%
popData2019: 0.199%
continentExp: 0.0%
Cumulative_number_for_14_days_of_COVID-19_cases_per_100000: 4.651%

Больше всех пропущенных значений находится в признаках `Cumulative_number_for_14_days_of_COVID-19_cases_per_100000` и `geoId`.
Удалим их из датасета:

In [5]:
data.drop(
    columns=['Cumulative_number_for_14_days_of_COVID-19_cases_per_100000', 'geoId'],
    inplace=True,
)
data

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,countryterritoryCode,popData2019,continentExp
0,14/12/2020,14,12,2020,746,6,Afghanistan,AFG,38041757.0,Asia
1,13/12/2020,13,12,2020,298,9,Afghanistan,AFG,38041757.0,Asia
2,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
3,12/12/2020,12,12,2020,113,11,Afghanistan,AFG,38041757.0,Asia
4,11/12/2020,11,12,2020,63,10,Afghanistan,AFG,38041757.0,Asia
...,...,...,...,...,...,...,...,...,...,...
61899,25/03/2020,25,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61900,24/03/2020,24,3,2020,0,1,Zimbabwe,ZWE,14645473.0,Africa
61901,23/03/2020,23,3,2020,0,0,Zimbabwe,ZWE,14645473.0,Africa
61902,22/03/2020,22,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa
61903,21/03/2020,21,3,2020,1,0,Zimbabwe,ZWE,14645473.0,Africa

Для категориального признака заполним пропуски значением по умолчанию (например, значением "other"):

In [6]:
data['countryterritoryCode'].fillna('other', inplace=True)

Для числового признака заполним пропуски медианным значением:

In [7]:
median_pop = data['popData2019'].median()
data['popData2019'].fillna(median_pop, inplace=True)

Покажем, что пропусков данных больше нет:

In [8]:
print_missing(data)

dateRep: 0.0%
day: 0.0%
month: 0.0%
year: 0.0%
cases: 0.0%
deaths: 0.0%
countriesAndTerritories: 0.0%
countryterritoryCode: 0.0%
popData2019: 0.0%
continentExp: 0.0%

## Задание 3

Посмотреть статистику по данным, используя `describe()`.

Сделать выводы о том, какие признаки содержат выбросы.

Посмотреть, для каких стран количество смертей в день превысило 3000 и сколько таких дней было.

In [9]:
data.describe()

,day,month,year,cases,deaths,popData2019
count,61904.000000,61904.000000,61904.000000,61904.000000,61904.000000,6.190400e+04
mean,15.629232,7.067104,2019.998918,1155.079026,26.053987,4.091909e+07
std,8.841624,2.954816,0.032881,6779.010824,131.222948,1.529798e+08
min,1.000000,1.000000,2019.000000,-8261.000000,-1918.000000,8.150000e+02
25%,8.000000,5.000000,2020.000000,0.000000,0.000000,1.324820e+06
50%,15.000000,7.000000,2020.000000,15.000000,0.000000,7.169456e+06
75%,23.000000,10.000000,2020.000000,273.000000,4.000000,2.851583e+07
max,31.000000,12.000000,2020.000000,234633.000000,4928.000000,1.433784e+09

Видно, что в днях, месяцах и годах нет выбросов, так как данные лежат в верных интервалах (от 1 до 31, от 1 до 12 и от 2019 до 2020 соответственно).

Отрицательные случаи заражения можно интерпретировать как число выздоровевших людей от ковида, в то время как отрицательного числа смертей быть не может - люди не могли воскреснуть после смерти от ковида.

Кажется, что данные о популяции соответствуют действительности.

Найдем такие записи, в которых смертность превышает 3000 человек:

In [10]:
death_data = data[data['deaths'] > 3000]

Найдем те страны, в которых число смертей превышало 3000 человек:

In [11]:
death_data["countriesAndTerritories"].unique()

array(['Argentina', 'Ecuador', 'Mexico', 'Peru',
       'United_States_of_America'], dtype=object)

Найдем количество дней, в которые смертность в одной из областей превышала 3000 человек:

In [12]:
len(death_data["dateRep"].unique())

11

## Задание 4

Найти дублирование данных. Удалить дубликаты.

Найдем число дубликатов в датасете:

In [13]:
data.duplicated().sum()

4

Удалим дубликаты из датасета:

In [14]:
data = data.drop_duplicates()

Еще раз проверим число дубликатов:

In [15]:
data.duplicated().sum()

0

## Задание 5

Загрузить данные из файла `bmi.csv`.

Взять оттуда две выборки. Одна выборка - это индекс массы тела людей c региона "northwest", вторая выборка - это индекс массы тела людей с региона "southwest".

Сравнить средние значения этих выборок, используя t-критерий Стьюдента.
Предварительно проверить выборки на нормальность (критерий Шопиро-Уилка) и на гомогенность дисперсии (критерий Бартлетта).

Загрузим данные из файла `bmi.csv`:

In [16]:
data = pd.read_csv("bmi.csv")
data

        bmi     region
0    22.705  northwest
1    28.880  northwest
2    27.740  northwest
3    25.840  northwest
4    28.025  northwest
..      ...        ...
645  20.600  southwest
646  38.600  southwest
647  33.400  southwest
648  44.700  southwest
649  25.800  southwest

[650 rows x 2 columns]

Создадим два датафрейма с двумя выборками по условию:

In [17]:
north = data[data['region'] == 'northwest']
south = data[data['region'] == 'southwest']

Перед сравнением средних значений выборок с использованием t-критерия Стьюдента, проверим их на нормальность и на гомогенность дисперсии.

In [18]:
import scipy.stats as sts

Проверим выборки на нормальность по критерию Шопиро-Уилка:

In [19]:
sts.shapiro(north['bmi'])

ShapiroResult(statistic=0.9954646825790405, pvalue=0.4655335247516632)

In [20]:
sts.shapiro(south['bmi'])

ShapiroResult(statistic=0.9949268698692322, pvalue=0.3629520535469055)

В обоих случаях тест дает p-значение выше 0.05, следовательно, выборки имеют нормальное распределение.

Проверим выборки на гомогенность дисперсии по критерию Бартлетта:

In [21]:
sts.bartlett(north['bmi'], south['bmi'])

BartlettResult(statistic=3.4000745256459286, pvalue=0.06519347353581818)

Тест дает p-значение выше 0.05, следовательно, дисперсии выборок примерно одинаковы.

Сравним средние значения выборок, используя t-критерий Стьюдента:

In [22]:
sts.ttest_ind(north['bmi'], south['bmi'])

Ttest_indResult(statistic=-3.2844171500398582, pvalue=0.001076958496307695)

Тест дает p-значение ниже 0.05.
Это говорит о том, что средние значения выборок отличаются и что выборки действительно принадлежат к разным генеральным совокупностям.

## Задание 6

Кубик бросили 600 раз, получили следующие результаты:

|  N  | Количество выпадений |
|:---:|:--------------------:|
|  1  |          97          |
|  2  |          98          |
|  3  |         109          |
|  4  |          95          |
|  5  |          97          |
|  6  |         104          |

С помощью критерия Хи-квадрат проверить, является ли полученное распределение равномерным.
Использовать функцию `scipy.stats.chisquare()`.

Создадим датасет по условию задачи:

In [23]:
data = pd.DataFrame(
    data=dict(observed=[97, 98, 109, 95, 97, 104],
              expected=[100] * 6),
    index=[1, 2, 3, 4, 5, 6],
)
data

   observed  expected
1        97       100
2        98       100
3       109       100
4        95       100
5        97       100
6       104       100

Проверим, является ли полученное распределение равномерным с помощью критерия Хи-квадрат:

In [24]:
sts.chisquare(data['observed'], data['expected'])

Power_divergenceResult(statistic=1.44, pvalue=0.9198882077437889)

Тест дает p-значение выше 0.05.
Исходя из этого мы видим, что полученное распределение является равномерным.

## Задание 7

С помощью критерия Хи-квадрат проверить, являются ли переменные зависимыми.

Создать датафрейм, используя следующий код:
```python
data = pd.DataFrame({
    'Женат': [89, 17, 11, 43, 22, 1],
    'Гражданский брак': [80, 22, 20, 35, 6, 4],
    'Не состоит в отношениях': [35, 44, 35, 6, 8, 22],
})
data.index = [
    'Полный рабочий день', 'Частичная занятость', 'Временно не работает',
    'На домохозяйстве', 'На пенсии', 'Учёба',
]
```

Использовать функцию `scipy.stats.chi2_contingency()`.

Влияет ли семейное положение на занятость?

Создадим датасет по условию задачи:

In [25]:
data = pd.DataFrame({
    'Женат': [89, 17, 11, 43, 22, 1],
    'Гражданский брак': [80, 22, 20, 35, 6, 4],
    'Не состоит в отношениях': [35, 44, 35, 6, 8, 22],
})
data.index = [
    'Полный рабочий день', 'Частичная занятость', 'Временно не работает',
    'На домохозяйстве', 'На пенсии', 'Учёба',
]
data

                      Женат  Гражданский брак  Не состоит в отношениях
Полный рабочий день      89                80                       35
Частичная занятость      17                22                       44
Временно не работает     11                20                       35
На домохозяйстве         43                35                        6
На пенсии                22                 6                        8
Учёба                     1                 4                       22

Проверим, являются ли переменные зависимыми друг от друга с помощью критерия Хи-квадрат:

In [26]:
sts.chi2_contingency(data)[:3]

(122.29654948595365, 1.7291616900960234e-21, 10)

Тест дает p-значение (2-е число в множестве) намного меньше 0.05.
Это говорит о том, что переменные действительно зависят друг от друга.

По полученным результатам мы можем сказать, что семейное положение действительно влияет на занятость.